.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem black;
    width: 50%;
  }
  
  .modal-title {
    margin-bottom: 1rem;
  }
  
  .modal-body {
    margin-bottom: 1rem;
  }
  
  .modal-close {
    background-color: lightgray;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    float: right;
  }
  
  .modal-close:hover {
    background-color: gray;
  }